@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-pri {
    background-color: #0a66c2;
}
.txt-pri {
    color: #0a66c2;
}
.nav__button-secondary {
    border: 1px solid #0a66c2;
    border-radius: 20px;
    padding: 10px 20px;
}
.header, .headerS {
    font-size: 2.2rem;
    line-height: 1.25;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    padding: 0 0 4px 0;
}
.headerS {
  font-size: 1.5rem !important;
}
.input {
    font-size: 1.8rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    border: 1px solid rgba(0,0,0,0.6);
    position: relative;
    z-index: 1;
    height: 52px;
    padding: 28px 12px 6px;
    border-radius: 4px !important;
}
.btnIni {
    background-color: #0073b1;
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    line-height: 40px;
    overflow: hidden;
    outline-width: 2px;
    padding: 7px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 167ms;
    transition-duration: 167ms;
    -webkit-transition-property: background-color,color,-webkit-box-shadow;
    transition-property: background-color,color,-webkit-box-shadow;
    transition-property: background-color,box-shadow,color;
    transition-property: background-color,box-shadow,color,-webkit-box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    background: var(--color-action, #0a66c2) !important;
    border-radius: 28px !important;
}
.form__group {
    position: relative;
  }
  
  .form__field {
    border: 1px solid silver !important;
    border-radius: 5px;
    box-sizing: border-box;
    color: #313a46;
    height: 40px;
    padding: 0rem 15px;
    font-size: 1rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    border: 1px solid rgba(0,0,0,0.6);
    position: relative;
    height: 52px;
    padding: 28px 12px 6px;
    border-radius: 4px !important;
    width: 100% !important;
    margin: 10px 0;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    top: calc(52px/2);
    border-right: none;
    border-left: none;
  }
  
  .form__label {
    color: #9b9b9b;
    display: block;
    font-size: .9em;
    margin-left: 10px;
    padding: 0 10px;
    pointer-events: none;
    position: absolute;
    top: -10px;
    transition: 0.2s;
  }
  
  .form__field:focus {
    outline: none;
    border: 2px solid #0a66c2 !important;
  }
  
  .form__field:focus ~ .form__label {
    background-color: white;
    color: #000;
    font-size: .8em;
    margin-left: 10px;
    padding: 0 10px;
    position: absolute;
    top: 15px;
    transition: 0.2s;
  }