.wrapper {
    position:relative;
  }
.icon {
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:2px;
    transform: translateY(-50%);
  }
.Hdr_nav_search_input:focus + .Hdr_nav_search_box{
  display: none;
    }
body, html {
  min-height: 100%;
}
.modal {
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #fff;
}
.modal > img {
  width: 40%;
  margin-bottom: 20px;
}
.title {
  font-weight: 500;
  margin-left: 20px;
  font-size: 1.2rem;
}
.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0a66c2;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
.btn-tertiary:disabled {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.btn-sm:disabled {
  cursor: not-allowed;
}
.btn-tertiary, .btn-tertiary:visited, .btn-tertiary:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
.btn-sm, .btn-sm:visited, .btn-sm:focus {
  cursor: pointer;
  text-decoration: none;
}
.btn-pu {
  background-color: #0a66c2;
  color: #fff;
}
.btn-sm {
  height: min-content;
  min-height: 32px;
  border-radius: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
.border-t-1 {
  border-top-width: 1px;
}
.border-color-divider {
  border-color: rgba(0, 0, 0, 0.08);
}

.border-solid {
  border-style: solid;
}

.border-b-1 {
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.08);
  border-style: solid;
}

#contentPost:focus {
  outline: none;
}
.hidden {
  display: none;
}
.dot-separator::before {
  display: inline-block;
  margin-left: 4px;
  content: "\00b7\00a0";
  font-weight: bold;
}

.dot-separator::before {
  display: inline-block;
  margin-left: 4px;
  content: "\00b7\00a0";
  font-weight: bold;
}

.titleJob {
  font-size: 1rem;
  font-weight: 500;
}

.mediumJob {
  font-size: 0.9rem;
  font-weight: 400;
}
.infoJob {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.555);
}
.jobItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.btn-tertiary-emphasis:disabled {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.btn-tertiary-emphasis:hover, .btn-tertiary-emphasis:visited:hover {
  box-shadow: 0 0 0 1px rgba(112, 181, 249, 0.1);
  background-color: rgba(112, 181, 249, 0.1);
  color: #004182;
}
.btn-sm:disabled {
  cursor: not-allowed;
}
.btn-sm:hover, .btn-sm:visited:hover {
  text-decoration: none;
}
.btn-tertiary-emphasis, .btn-tertiary-emphasis:visited, .btn-tertiary-emphasis:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: #0a66c2;
}
.btn-sm, .btn-sm:visited, .btn-sm:focus {
  cursor: pointer;
  text-decoration: none;
}
.btn-sm {
  height: min-content;
  min-height: 32px;
  border-radius: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
.comment__body, .comment__body button {
  background-color: #f3f2ef;
}
/*Message*/
.containerMessage{
  display: flex;
  flex-direction: column;
 
}
.message{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5px;
  background-color: #fff;

}
.imageMessage{
  width: 25%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rounded-image{
  border-radius: 50%;
}
.infoMessage{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 65%;
}
.hourMessage{
  width: 10%;
}
#media {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.notificacion {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  padding: 1.3rem 1.2rem;
  background-color: #fff;
}

.notificacion > img {
  width: 49px;
  height: 48px;
  margin-right: 10px;
}

.notificacion > p > span {
  font-weight: 600;
  
}

.pendding {
  background-color: rgb(55 143 233/.2);
}
.jobItem {
  padding: 1.3rem 1.2rem !important;
  font-size: 0.7rem !important;
}
.jobItem:hover {
  background-color: #eee;
}

#invitaciones, #sugerencias {
  background-color: #fff;
  padding: 10px 0px;
  text-align: center;
  margin-bottom: 10px;
}

#sugerencias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.cardUser {
  border-radius: 10px;
  overflow: hidden;
  flex: 1/2;
  width: 46%;
  border: 1px solid #eee;
  margin: 5px 2%;
}

.cardUser:hover {
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

.bannercard {
  height: 60px;
  width: 100%;
  background-size: cover;
  margin-bottom: 60px;
}

#ppcard {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 50%;
  transform: translate(50%, 0);
}
.artdeco-button, .artdeco-button--2, .peek-carousel-controls__button {
  border-radius: 1.6rem !important;
  width: 90%;
}

.artdeco-button, .peek-carousel-controls__button {
  min-width: 0;
}
.artdeco-button, .peek-carousel-controls__button {
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 167ms;
  align-items: center;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  min-width: 6.4rem;
  max-width: 480px;
  overflow: hidden;
  text-align: center;
  transition-property: background-color,box-shadow,color;
  vertical-align: middle;
  margin-bottom: 10px;
  padding: 7px 0px;
}
.artdeco-button, .artdeco-button--2, .peek-carousel-controls__button {
  font-size: 1rem;
}
.artdeco-button--secondary, .artdeco-button--secondary:visited, .artdeco-button--secondary:visited:hover, .artdeco-carousel__navigation .artdeco-button--circle, .artdeco-carousel__navigation .artdeco-button--circle:visited, .artdeco-carousel__navigation .artdeco-button--circle:visited:hover, .artdeco-carousel__navigation .peek-carousel-controls__button, .peek-carousel-controls__button, .peek-carousel-controls__button:visited, .peek-carousel-controls__button:visited:hover, a.artdeco-button--secondary {
  background-color: hsla(0,0%,100%,0);
  color: #0a66c2;
  box-shadow: inset 0 0 0 1px #0a66c2;
}

.myapplications {
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
}
.center {
  text-align: center;
}
.myapplications:hover {
  background-color: #eee;
}
#postContainer , #redContainer, #notiContainer, #jobsContainer {
  min-height: 84vh !important;
}
.link-styled {
  font-weight: 500 !important;
  font-size: 1.1rem !important;
}
.contloader {
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader2 {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #0a66c2;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation2 1s linear infinite;
  }

  @keyframes rotation2 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 