
.form__group {
    position: relative;
  }
  
  .form__field {
    border: 1px solid silver !important;
    border-radius: 5px;
    box-sizing: border-box;
    color: #313a46;
    height: 40px;
    padding: 0rem 15px;
    font-size: 1rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    border: 1px solid rgba(0,0,0,0.6);
    position: relative;
    height: 52px;
    padding: 28px 12px 6px;
    border-radius: 4px !important;
    width: 100% !important;
    margin: 10px 0;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    top: calc(52px/2);
    border-right: none;
    border-left: none;
  }
  
  .form__label {
    color: #9b9b9b;
    display: block;
    font-size: .9em;
    margin-left: 10px;
    padding: 0 10px;
    pointer-events: none;
    position: absolute;
    top: -10px;
    transition: 0.2s;
  }
  
  .form__field:focus {
    outline: none;
    border: 2px solid #0a66c2 !important;
  }
  
  .form__field:focus ~ .form__label {
    color: #000;
    font-size: .8em;
    margin-left: 10px;
    padding: 0 10px;
    position: absolute;
    top: 15px;
    transition: 0.2s;
  }
  
  .btnIni {
    background-color: #0073b1;
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    line-height: 40px;
    overflow: hidden;
    outline-width: 2px;
    padding: 7px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 167ms;
    transition-duration: 167ms;
    -webkit-transition-property: background-color,color,-webkit-box-shadow;
    transition-property: background-color,color,-webkit-box-shadow;
    transition-property: background-color,box-shadow,color;
    transition-property: background-color,box-shadow,color,-webkit-box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    background: var(--color-action, #0a66c2) !important;
    border-radius: 28px !important;
    width: 100% !important;
    margin:  0;
  }
.btnIniN {
  border: none;
  color: #0a66c2;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
  border: 1.5px solid #0a66c2;
  height: min-content;
  min-height: 48px;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-left: 20px;
}
.containerLandig{
  margin-left:5%;
}
.forgotPassword{
  margin-top: 5%;
  margin-bottom: 5%;
  color: #0a66c2;
}
.forgotPassword:hover{
  text-decoration: underline;
}
.left-right-divider::before, .left-right-divider::after {
  height: 1px;
  width: auto;
  background-color: rgb(0 0 0 / .35);
  --tw-content: '';
  content: var(--tw-content);
  flex-grow: 1;
}
.section2 {
  margin-top: 10rem;
  background-color: #fff;
}
.btn-md {
  height: min-content;
  min-height: 48px;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.btn-md, .btn-md:visited, .btn-md:focus {
  cursor: pointer;
  text-decoration-line: none;
}
.btn-secondary, .btn-secondary:visited, .btn-secondary:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.75);
}
.loader {
  width: 38px;
  height: 38px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
